<% layout("layouts/boilerplate") %>
<div class="container mt-4">
  <h3 class="mb-4">Login</h3>

  <form method="POST" action="/login" class="needs-validation" novalidate>

    <!-- Username -->
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input 
        type="text"
        class="form-control"
        name="username"
        placeholder="Enter username"
        required>
      
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input 
        type="password"
        class="form-control"
        name="password"
        placeholder="Enter password"
        required>
      
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>